---
import TableOfContents from "@/components/TableOfContents";
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import Header from "@/layouts/Header.astro";

const headingStyle = "text-3xl py-4";
const sectionStyle = "flex flex-col pb-4";
const paragraphStyle = "mb-6";
const imageWidth = 300;

// MAKE SURE TO UPDATE TABLE OF CONTENTS if you change any titles
---

<DashboardLayout title="Tips & Tricks">
  <div class="container mx-auto flex w-full max-w-2xl flex-col gap-6 py-6">
    <Header title="Tips & Tricks" />

    <hr />
    <TableOfContents />
    <hr class="lg:hidden" />

    <section id="proxies" class={sectionStyle}>
      <h1 class={headingStyle}>Selecting proxies</h1>
      <p class={paragraphStyle}>
        By default, the app will automatically balance proxies for you. However,
        if things feel slow, I recommend choosing the <b>lowest</b>
        balancer option, or manually selecting <b>Vless</b>, <b>Vmess</b>, or <b
          >Trojan</b
        >. Shadowsocks is pretty reliable too but a little bit slower.
      </p>
      <img
        src="/tips/proxy.png"
        alt="proxy"
        width={imageWidth}
        class="self-center"
        loading="lazy"
      />
    </section>

    <hr />

    <section id="options" class={sectionStyle}>
      <h1 class={headingStyle}>DNS settings</h1>
      <p>
        <h1 class="mb-1">Remote DNS</h1>
        <ul class="mb-6 list-outside list-disc">
          <li class="ml-8">
            By default this is set to 'local'. This rarely needs to be changed,
            but occasionally on public WiFi or Mobile 4G/5G, you can try <b
              >tcp://1.1.1.1</b
            > or <b>tcp://8.8.8.8</b>.
          </li>
        </ul>
        <h1 class="mb-1">Outbound DNS (direct)</h1>
        <ul class="mb-6 list-outside list-disc">
          <li class="ml-8">
            'local' should always be selected for most scenarios, I've never
            needed to change this, maybe once on a windows computer with
            extremely broken settings. You can try matching this to Remote DNS
            if all else fails.
          </li>
        </ul>
        <h1 class="mb-1">Fake DNS</h1>
        <ul class="list-outside list-disc">
          <li class="ml-8">
            This can be enabled without problems, I find it more reliable with
            it turned on. You can try turning it off if you are having issues.
          </li>
        </ul>
      </p>
    </section>

    <hr />

    <section id="updates" class={sectionStyle}>
      <h1 class={headingStyle}>App updates</h1>
      <p class={paragraphStyle}>
        As a last resort, under the About section, you can update the app. It
        should auto-update by itself automatically, most of the time it's the
        server, a global outage, or during a Chinese holiday/political event.
        Email me if you are having issues for more than a day.
      </p>
      <img
        src="/tips/update.png"
        alt="update"
        width={imageWidth}
        class="mb-4 self-center"
        loading="lazy"
      />
    </section>

    <hr />

    <section id="mobile" class={sectionStyle}>
      <h1 class={headingStyle}>Mobile tips</h1>
      <p class={paragraphStyle}>
        This feature is only available on mobile. Under Settings {">"} Routing {
          ">"
        } Per-App Proxy. If you have mainly Chinese apps, select 'Proxy only selected
        apps" and pick foreign apps like Google/Youtube.
        <br />
        <br />
        However, if you mainly have US/international apps, choose "Do not proxy selected
        apps" and pick Chinese apps like Alipay/WeChat. This way you can avoid constantly
        turning the VPN on/off.
      </p>
      <img
        src="/tips/per-app.png"
        alt="pre-app"
        width={imageWidth}
        class="self-center"
        loading="lazy"
      />
    </section>
  </div>
</DashboardLayout>
