---
import { Image } from "astro:assets";

import { SITE_NAME } from "@/config/constants";
import laptop from "@/images/laptop-internet.jpeg";
import { cn } from "@/lib/utils";

const info = [
  {
    description: `When I first arrived in China for remote work,
    I knew my biggest hurdle would be overcoming the <span class='font-semibold text-primary-link'>great firewall.</span>
    Not just to watch youtube videos but I needed 24/7 access
    to critical cloud services required for my job. After 4 years of countless trial and error, I finally created
    the ultimate setup to bypass censorship, and thus, <span class='font-semibold text-secondary-link'>${SITE_NAME}</span> was born.
    `,
    image: laptop,
    reverse: false,
    title: "Why I created this site",
  },
];
---

<section id="about" class="py-8 sm:py-16">
  {
    info.map((data) => (
      <div class="container py-8">
        <div class="mx-auto grid max-w-7xl gap-10 px-0 sm:gap-16 sm:px-6 lg:grid-cols-2 lg:items-center lg:px-4">
          <div class={cn(data.reverse ? "lg:order-2" : "lg:order-1")}>
            <h2 class="font-heading text-foreground text-3xl md:text-4xl lg:text-[40px]">
              {data.title}
            </h2>
            <p
              class="text-muted-foreground mt-6 text-lg"
              set:html={data.description}
            />
          </div>
          <div
            class={cn(
              "overflow-hidden rounded-xl border",
              data.reverse ? "order-1" : "order-2"
            )}
          >
            <div class="relative aspect-video">
              <Image
                class="size-full object-fill"
                src={data.image}
                alt={data.title}
                width={558}
                height={314}
                loading="eager"
                layout="constrained"
                fetchpriority="high"
              />
            </div>
          </div>
        </div>
      </div>
    ))
  }
</section>
